.akml-header {
    text-align: center;
    background-color: #D54E21;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px 5px 0 0;
}
.akml-new-form-wrap, .akml-content-wrap {
    background-color: white;
    min-height: 400px;
    padding: 11px;
    float: left;
    width: 68%;
    margin-right: 20px;
}
h4.akml-content-title {
    background-color: #bbb;
    color: white;
    padding: 5px;
    font-size: 14px;
}
.akml-sub-section {
    box-shadow: 0 0 4px 0;
    padding: 10px;
    float: left;
    width: 305px;
    text-align: center;
    margin: 10px 20px;
}
.akml-sub-section-title {
    background-color: #bbb;
    color: white;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
}
.akml-sub-section a {
    text-decoration: none;
    color: white;
}
.akml-header h1 {
    color: white;
}
.akml-about.akml-inlinelist li {
    display: inline-block;
    transition: all 0.3s ease-in-out 0s;
}
